<!DOCTYPE HTML>
<html ng-app manifest="the.appcache">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Madness Pass - We <3 Web </title>
	<link rel="stylesheet" href="css/master.css" />

</head>
<body ng-controller="MadnessPass">

	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="#">
	            	<i class="fa fa-unlock"></i>
	            	Madness<b>Pass</b><small>Beta</small>
	            </a>
	        </div>
	        <div class="search">
		    	<input type="search" class="form-control" placeholder="Search" ng-model="searchText" />
			</div>
			<a href="#" class="btn btn-default search-btn" ng-click="toggleSearch()">
            	<i class="fa fa-search"></i>
            </a>
            <a href="#" class="btn btn-primary plus" ng-click="toggleForm()">
            	<i class="fa fa-plus-circle"></i>
            </a>
	    </div>
	</nav>

	<form role="form">
		<div class="container-fluid">
			<input class="form-control" name="title" ng-model="title" placeholder="Title" />
			<input class="form-control" name="link" ng-model="link" placeholder="Link" />
			<input class="form-control" name="username" ng-model="username" placeholder="Username" />
			<input class="form-control" name="password" ng-model="password" placeholder="password" />
			<button class="btn btn-success btn-block" ng-click="add()">
				<b>Save</b>
				<i class="fa fa-check"></i>
			</button>
		</div>
	</form>

	<div class="container-fluid">
		<div class="card" ng-repeat="card in cards | filter:searchText">
			<a href="{{card.link}}" ng-click="open($event)" class="title">{{card.title}}</a>
			<h4>{{card.username}}</h4>
			<h3 id="pass">{{card.password}}</h3>

			<i class="fa fa-times-circle remove" ng-click="remove($event, $index)"></i>
			<i class="fa fa-chevron-circle-down toggle" ng-click="toggle($event)"></i>
		</div>
	</div>

	<script src="js/MadnessPass.js"></script>
</body>
</html>